In [10]:
# import all necessary references
import pandas as pd
import importlib.metadata
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import yaml
from pprint import pprint
from math import floor
from pathlib import PurePath, Path
from kaggle_hcdr.utils import get_dir_path
from sklearn.model_selection import train_test_split


print(

    f"""
Pandas version: {pd.__version__}
Matplotlib Pyplot version: {importlib.metadata.version("matplotlib")}
Seaborn version: {sns.__version__}
PyYAML version: {yaml.__version__}    
    """
)

Pandas version: 2.0.0
Matplotlib Pyplot version: 3.7.1
Seaborn version: 0.12.2
PyYAML version: 6.0

In [2]:
# Pandas configuration
pd.set_option("display.max_rows", 150)
pd.set_option("display.max_columns", 150)
pd.set_option("display.max_colwidth", None)

# Plot configuration
%matplotlib widget

# Path configuration
current_directory = Path.cwd()
current_directory

PosixPath('/home/xlevb/projects/kaggle-home-credit-default-risk/notebooks/iteration_1')

In [5]:
# Create references for data paths
data_directory = get_dir_path("data")

raw_application_test_file = data_directory.joinpath("01_raw", "application_test.csv")
raw_application_train_file = data_directory.joinpath("01_raw", "application_train.csv")
conf_directory = get_dir_path("conf")
project_parameters_file = conf_directory.joinpath("base", "parameters.yml")

In [6]:
with open(project_parameters_file, "r") as file:
    project_parameters = yaml.safe_load(file)

pprint(project_parameters)

{'dataset_variables_types': {'application_test': {'categorical_nominal': ['CODE_GENDER',
                                                                          'FLAG_WORK_PHONE',
                                                                          'FLAG_EMP_PHONE',
                                                                          'NAME_CONTRACT_TYPE',
                                                                          'FLAG_OWN_REALTY',
                                                                          'WEEKDAY_APPR_PROCESS_START',
                                                                          'FONDKAPREMONT_MODE',
                                                                          'FLAG_EMAIL',
                                                                          'WALLSMATERIAL_MODE',
                                                                          'FLAG_OWN_CAR',
                                                                          'FLAG_MOBIL',
                                                                          'FLAG_PHONE',
                                                                          'NAME_INCOME_TYPE',
                                                                          'HOUSETYPE_MODE',
                                                                          'NAME_HOUSING_TYPE',
                                                                          'FLAG_CONT_MOBILE',
                                                                          'NAME_EDUCATION_TYPE',
                                                                          'EMERGENCYSTATE_MODE',
                                                                          'NAME_FAMILY_STATUS',
                                                                          'NAME_TYPE_SUITE'],
                                                  'categorical_ordinal': ['REGION_RATING_CLIENT',
                                                                          'REGION_RATING_CLIENT_W_CITY'],
                                                  'datetime': ['HOUR_APPR_PROCESS_START'],
                                                  'numerical_continuous': ['EXT_SOURCE_3',
                                                                           'ENTRANCES_MODE',
                                                                           'BASEMENTAREA_MODE',
                                                                           'APARTMENTS_MEDI',
                                                                           'YEARS_BUILD_MEDI',
                                                                           'ENTRANCES_MEDI',
                                                                           'NONLIVINGAREA_MODE',
                                                                           'YEARS_BEGINEXPLUATATION_MODE',
                                                                           'ELEVATORS_MEDI',
                                                                           'YEARS_BEGINEXPLUATATION_MEDI',
                                                                           'AMT_INCOME_TOTAL',
                                                                           'NONLIVINGAPARTMENTS_MODE',
                                                                           'ENTRANCES_AVG',
                                                                           'FLOORSMIN_MODE',
                                                                           'COMMONAREA_AVG',
                                                                           'APARTMENTS_MODE',
                                                                           'YEARS_BEGINEXPLUATATION_AVG',
                                                                           'LANDAREA_MODE',
                                                                           'FLOORSMAX_AVG',
                                                                           'NONLIVINGAREA_MEDI',
                                                                           'FLOORSMAX_MEDI',
                                                                           'LIVINGAPARTMENTS_MEDI',
                                                                           'LANDAREA_MEDI',
                                                                           'AMT_CREDIT',
                                                                           'COMMONAREA_MEDI',
                                                                           'ELEVATORS_MODE',
                                                                           'COMMONAREA_MODE',
                                                                           'YEARS_BUILD_AVG',
                                                                           'LIVINGAPARTMENTS_AVG',
                                                                           'ELEVATORS_AVG',
                                                                           'EXT_SOURCE_2',
                                                                           'FLOORSMAX_MODE',
                                                                           'FLOORSMIN_AVG',
                                                                           'BASEMENTAREA_MEDI',
                                                                           'TOTALAREA_MODE',
                                                                           'LANDAREA_AVG',
                                                                           'LIVINGAREA_MODE',
                                                                           'LIVINGAREA_MEDI',
                                                                           'AMT_GOODS_PRICE',
                                                                           'EXT_SOURCE_1',
                                                                           'AMT_ANNUITY',
                                                                           'LIVINGAPARTMENTS_MODE',
                                                                           'NONLIVINGAREA_AVG',
                                                                           'YEARS_BUILD_MODE',
                                                                           'REGION_POPULATION_RELATIVE',
                                                                           'LIVINGAREA_AVG',
                                                                           'FLOORSMIN_MEDI',
                                                                           'NONLIVINGAPARTMENTS_MEDI',
                                                                           'APARTMENTS_AVG',
                                                                           'NONLIVINGAPARTMENTS_AVG',
                                                                           'BASEMENTAREA_AVG'],
                                                  'numerical_discrete': ['AMT_REQ_CREDIT_BUREAU_HOUR',
                                                                         'AMT_REQ_CREDIT_BUREAU_DAY',
                                                                         'AMT_REQ_CREDIT_BUREAU_WEEK',
                                                                         'AMT_REQ_CREDIT_BUREAU_MON',
                                                                         'AMT_REQ_CREDIT_BUREAU_QRT',
                                                                         'AMT_REQ_CREDIT_BUREAU_YEAR',
                                                                         'DAYS_REGISTRATION',
                                                                         'DAYS_ID_PUBLISH',
                                                                         'DAYS_LAST_PHONE_CHANGE',
                                                                         'DAYS_EMPLOYED',
                                                                         'DAYS_BIRTH']},
                             'application_train': {'categorical_nominal': ['CODE_GENDER',
                                                                           'FLAG_WORK_PHONE',
                                                                           'FLAG_EMP_PHONE',
                                                                           'NAME_CONTRACT_TYPE',
                                                                           'FLAG_OWN_REALTY',
                                                                           'WEEKDAY_APPR_PROCESS_START',
                                                                           'FONDKAPREMONT_MODE',
                                                                           'FLAG_EMAIL',
                                                                           'WALLSMATERIAL_MODE',
                                                                           'FLAG_OWN_CAR',
                                                                           'FLAG_MOBIL',
                                                                           'FLAG_PHONE',
                                                                           'NAME_INCOME_TYPE',
                                                                           'HOUSETYPE_MODE',
                                                                           'NAME_HOUSING_TYPE',
                                                                           'FLAG_CONT_MOBILE',
                                                                           'NAME_EDUCATION_TYPE',
                                                                           'EMERGENCYSTATE_MODE',
                                                                           'NAME_FAMILY_STATUS',
                                                                           'NAME_TYPE_SUITE'],
                                                   'categorical_ordinal': ['REGION_RATING_CLIENT',
                                                                           'REGION_RATING_CLIENT_W_CITY'],
                                                   'datetime': ['HOUR_APPR_PROCESS_START'],
                                                   'numerical_continuous': ['EXT_SOURCE_3',
                                                                            'ENTRANCES_MODE',
                                                                            'BASEMENTAREA_MODE',
                                                                            'APARTMENTS_MEDI',
                                                                            'YEARS_BUILD_MEDI',
                                                                            'ENTRANCES_MEDI',
                                                                            'NONLIVINGAREA_MODE',
                                                                            'YEARS_BEGINEXPLUATATION_MODE',
                                                                            'ELEVATORS_MEDI',
                                                                            'YEARS_BEGINEXPLUATATION_MEDI',
                                                                            'AMT_INCOME_TOTAL',
                                                                            'NONLIVINGAPARTMENTS_MODE',
                                                                            'ENTRANCES_AVG',
                                                                            'FLOORSMIN_MODE',
                                                                            'COMMONAREA_AVG',
                                                                            'APARTMENTS_MODE',
                                                                            'YEARS_BEGINEXPLUATATION_AVG',
                                                                            'LANDAREA_MODE',
                                                                            'FLOORSMAX_AVG',
                                                                            'NONLIVINGAREA_MEDI',
                                                                            'FLOORSMAX_MEDI',
                                                                            'LIVINGAPARTMENTS_MEDI',
                                                                            'LANDAREA_MEDI',
                                                                            'AMT_CREDIT',
                                                                            'COMMONAREA_MEDI',
                                                                            'ELEVATORS_MODE',
                                                                            'COMMONAREA_MODE',
                                                                            'YEARS_BUILD_AVG',
                                                                            'LIVINGAPARTMENTS_AVG',
                                                                            'ELEVATORS_AVG',
                                                                            'EXT_SOURCE_2',
                                                                            'FLOORSMAX_MODE',
                                                                            'FLOORSMIN_AVG',
                                                                            'BASEMENTAREA_MEDI',
                                                                            'TOTALAREA_MODE',
                                                                            'LANDAREA_AVG',
                                                                            'LIVINGAREA_MODE',
                                                                            'LIVINGAREA_MEDI',
                                                                            'AMT_GOODS_PRICE',
                                                                            'EXT_SOURCE_1',
                                                                            'AMT_ANNUITY',
                                                                            'LIVINGAPARTMENTS_MODE',
                                                                            'NONLIVINGAREA_AVG',
                                                                            'YEARS_BUILD_MODE',
                                                                            'REGION_POPULATION_RELATIVE',
                                                                            'LIVINGAREA_AVG',
                                                                            'FLOORSMIN_MEDI',
                                                                            'NONLIVINGAPARTMENTS_MEDI',
                                                                            'APARTMENTS_AVG',
                                                                            'NONLIVINGAPARTMENTS_AVG',
                                                                            'BASEMENTAREA_AVG'],
                                                   'numerical_discrete': ['AMT_REQ_CREDIT_BUREAU_HOUR',
                                                                          'AMT_REQ_CREDIT_BUREAU_DAY',
                                                                          'AMT_REQ_CREDIT_BUREAU_WEEK',
                                                                          'AMT_REQ_CREDIT_BUREAU_MON',
                                                                          'AMT_REQ_CREDIT_BUREAU_QRT',
                                                                          'AMT_REQ_CREDIT_BUREAU_YEAR',
                                                                          'DAYS_REGISTRATION',
                                                                          'DAYS_ID_PUBLISH',
                                                                          'DAYS_LAST_PHONE_CHANGE',
                                                                          'DAYS_EMPLOYED',
                                                                          'DAYS_BIRTH']}},
 'target': ['TARGET']}

In [8]:
raw_application_train_df = pd.read_csv(
    filepath_or_buffer=raw_application_train_file,
    index_col="SK_ID_CURR",
    parse_dates=True,
    engine="pyarrow",
    # dtype_backend="pyarrow",
    encoding='unicode_escape'
)
raw_application_test_df = pd.read_csv(
    filepath_or_buffer=raw_application_test_file,
    index_col="SK_ID_CURR",
    parse_dates=True,
    engine="pyarrow",
    # dtype_backend="pyarrow",
    encoding='unicode_escape'
)

In [21]:
pre_feat_application_w_target = raw_application_train_df[project_parameters.get("target")].copy()
pre_feat_application_wo_target = raw_application_train_df.drop(columns=project_parameters.get("target"))

In [18]:
pre_feat_application_w_target

            TARGET
SK_ID_CURR
100002           1
100003           0
100004           0
100006           0
100007           0
...            ...
456251           0
456252           0
456253           0
456254           1
456255           0

[307511 rows x 1 columns]

In [19]:
pre_feat_application_wo_target

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100002,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.0220,0.0198,0.0,0.0000,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.0000,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100003,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.0790,0.0554,0.0,0.0000,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.0100,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100004,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,NaN,,,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100006,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,NaN,,,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100007,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,NaN,,,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,0.032561,-9327,-236,-8456.0,-1982,NaN,1,1,0,1,0,0,Sales staff,1.0,1,1,THURSDAY,15,0,0,0,0,0,0,Services,0.145570,0.681632,NaN,0.2021,0.0887,0.9876,0.8300,0.0202,0.22,0.1034,0.6042,0.2708,0.0594,0.1484,0.1965,0.0753,0.1095,0.1008,0.0172,0.9782,0.7125,0.0172,0.0806,0.0345,0.4583,0.0417,0.0094,0.0882,0.0853,0.0,0.0125,0.2040,0.0887,0.9876,0.8323,0.0203,0.22,0.1034,0.6042,0.2708,0.0605,0.1509,0.2001,0.0757,0.1118,reg oper account,block of flats,0.2898,"Stone, brick",No,0.0,0.0,0.0,0.0,-273.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
456252,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.025164,-20775,365243,-4388.0,-4090,NaN,1,0,0,1,1,0,,1.0,2,2,MONDAY,8,0,0,0,0,0,0,XNA,NaN,0.115992,NaN,0.0247,0.0435,0.9727,0.6260,0.0022,0.00,0.1034,0.0833,0.1250,0.0579,0.0202,0.0257,0.0000,0.0000,0.0252,0.0451,0.9727,0.6406,0.0022,0.0000,0.1034,0.0833,0.1250,0.0592,0.0220,0.0267,0.0,0.0000,0.0250,0.0435,0.9727,0.6310,0.0022,0.00,0.1034,0.0833,0.1250,0.0589,0.0205,0.0261,0.0000,0.0000,reg oper account,block of flats,0.0214,"Stone, brick",No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
456253,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,Unaccompanied,Working,Higher education,Separated,House / apartment,0.005002,-14966,-7921,-6737.0,-5150,NaN,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,9,0,0,0,0,1,1,School,0.744026,0.535722,0.218859,0.1031,0.0862,0.9816,0.7484,0.0123,0.00,0.2069,0.1667,0.2083,NaN,0.0841,0.9279,0.0000,0.0000,0.1050,0.0894,0.9816,0.7583,0.0124,0.0000,0.2069,0.1667,0.2083,NaN,0.0918,0.9667,0.0,0.0000,0.1041,0.0862,0.9816,0.7518,0.0124,0.00,0.2069,0.1667,0.2083,NaN,0.0855,0.9445,0.0000,0.0000,reg oper account,block of flats,0.7970,Panel,No,6.0,0.0,6.0,0.0,-1909.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
456254,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.005313,-11961,-4786,-2562.0,-931,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,9,0,0,0,1,1,0,Business Entity Type 1,NaN,0.514163,0.661024,0.0124,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0061,NaN,NaN,0.0126,NaN,0.9772,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0063,NaN,NaN,0.0125,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0062,NaN,NaN,,block of flats,0.0086,"Stone, brick",No,0.0,0.0,0.0,0.0,-322.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
456255,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.046220,-16856,-1262,-5128.0,-410,NaN,1,1,1,1,1,0,Laborers,2.0,1,1,THURSDAY,20,0,0,0,0,1,1,Business Entity Type 3,0.734460,0.708569,0.113922,0.0742,0.0526,0.9881,NaN,0.0176,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0791,NaN,0.0000,0.0756,0.0546,0.9881,NaN,0.0178,0.0806,0.0690,0.3750,NaN,NaN,NaN,0.0824,NaN,0.0000,0.0749,0.0526,0.9881,NaN,0.0177,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0805,NaN,0.0000,,block of flats,0.0718,Panel,No,0.0,0.0,0.0,0.0,-787.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [30]:
(
    pre_feat_application_wo_target_train,
    pre_feat_application_wo_target_test,
    pre_feat_application_w_target_train,
    pre_feat_application_w_target_test,
) = train_test_split(
    pre_feat_application_wo_target,
    pre_feat_application_w_target,
    test_size=0.25,
    random_state=42,
    shuffle=True
)

In [31]:
print(f"""
Training dataset input variables: {pre_feat_application_wo_target_train.shape}
Training dataset output variables: {pre_feat_application_w_target_train.shape}
Test dataset input variables: {pre_feat_application_wo_target_test.shape}
Test dataset output variables: {pre_feat_application_w_target_test.shape}
""")

Training dataset input variables: (230633, 120)
Training dataset output variables: (230633, 1)
Test dataset input variables: (76878, 120)
Test dataset output variables: (76878, 1)

In [33]:
pre_feat_application_wo_target_train.isna().sum()

NAME_CONTRACT_TYPE                   0
CODE_GENDER                          0
FLAG_OWN_CAR                         0
FLAG_OWN_REALTY                      0
CNT_CHILDREN                         0
AMT_INCOME_TOTAL                     0
AMT_CREDIT                           0
AMT_ANNUITY                          9
AMT_GOODS_PRICE                    214
NAME_TYPE_SUITE                      0
NAME_INCOME_TYPE                     0
NAME_EDUCATION_TYPE                  0
NAME_FAMILY_STATUS                   0
NAME_HOUSING_TYPE                    0
REGION_POPULATION_RELATIVE           0
DAYS_BIRTH                           0
DAYS_EMPLOYED                        0
DAYS_REGISTRATION                    0
DAYS_ID_PUBLISH                      0
OWN_CAR_AGE                     152009
FLAG_MOBIL                           0
FLAG_EMP_PHONE                       0
FLAG_WORK_PHONE                      0
FLAG_CONT_MOBILE                     0
FLAG_PHONE                           0
FLAG_EMAIL                           0
OCCUPATION_TYPE                      0
CNT_FAM_MEMBERS                      1
REGION_RATING_CLIENT                 0
REGION_RATING_CLIENT_W_CITY          0
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
REG_REGION_NOT_LIVE_REGION           0
REG_REGION_NOT_WORK_REGION           0
LIVE_REGION_NOT_WORK_REGION          0
REG_CITY_NOT_LIVE_CITY               0
REG_CITY_NOT_WORK_CITY               0
LIVE_CITY_NOT_WORK_CITY              0
ORGANIZATION_TYPE                    0
EXT_SOURCE_1                    129889
EXT_SOURCE_2                       503
EXT_SOURCE_3                     45844
APARTMENTS_AVG                  117186
BASEMENTAREA_AVG                135070
YEARS_BEGINEXPLUATATION_AVG     112599
YEARS_BUILD_AVG                 153501
COMMONAREA_AVG                  161235
ELEVATORS_AVG                   123026
ENTRANCES_AVG                   116244
FLOORSMAX_AVG                   114918
FLOORSMIN_AVG                   156534
LANDAREA_AVG                    137014
LIVINGAPARTMENTS_AVG            157707
LIVINGAREA_AVG                  115904
NONLIVINGAPARTMENTS_AVG         160189
NONLIVINGAREA_AVG               127475
APARTMENTS_MODE                 117186
BASEMENTAREA_MODE               135070
YEARS_BEGINEXPLUATATION_MODE    112599
YEARS_BUILD_MODE                153501
COMMONAREA_MODE                 161235
ELEVATORS_MODE                  123026
ENTRANCES_MODE                  116244
FLOORSMAX_MODE                  114918
FLOORSMIN_MODE                  156534
LANDAREA_MODE                   137014
LIVINGAPARTMENTS_MODE           157707
LIVINGAREA_MODE                 115904
NONLIVINGAPARTMENTS_MODE        160189
NONLIVINGAREA_MODE              127475
APARTMENTS_MEDI                 117186
BASEMENTAREA_MEDI               135070
YEARS_BEGINEXPLUATATION_MEDI    112599
YEARS_BUILD_MEDI                153501
COMMONAREA_MEDI                 161235
ELEVATORS_MEDI                  123026
ENTRANCES_MEDI                  116244
FLOORSMAX_MEDI                  114918
FLOORSMIN_MEDI                  156534
LANDAREA_MEDI                   137014
LIVINGAPARTMENTS_MEDI           157707
LIVINGAREA_MEDI                 115904
NONLIVINGAPARTMENTS_MEDI        160189
NONLIVINGAREA_MEDI              127475
FONDKAPREMONT_MODE                   0
HOUSETYPE_MODE                       0
TOTALAREA_MODE                  111422
WALLSMATERIAL_MODE                   0
EMERGENCYSTATE_MODE                  0
OBS_30_CNT_SOCIAL_CIRCLE           757
DEF_30_CNT_SOCIAL_CIRCLE           757
OBS_60_CNT_SOCIAL_CIRCLE           757
DEF_60_CNT_SOCIAL_CIRCLE           757
DAYS_LAST_PHONE_CHANGE               1
FLAG_DOCUMENT_2                      0
FLAG_DOCUMENT_3                      0
FLAG_DOCUMENT_4                      0
FLAG_DOCUMENT_5                      0
FLAG_DOCUMENT_6                      0
FLAG_DOCUMENT_7                      0
FLAG_DOCUMENT_8                      0
FLAG_DOCUMENT_9                      0
FLAG_DOCUMENT_10                     0
FLAG_DOCUMENT_11                     0
FLAG_DOCUMENT_12                     0
FLAG_DOCUMENT_13                     0
FLAG_DOCUMENT_14                     0
FLAG_DOCUMENT_15                     0
FLAG_DOCUMENT_16                     0
FLAG_DOCUMENT_17                     0
FLAG_DOCUMENT_18                     0
FLAG_DOCUMENT_19                     0
FLAG_DOCUMENT_20                     0
FLAG_DOCUMENT_21                     0
AMT_REQ_CREDIT_BUREAU_HOUR       31210
AMT_REQ_CREDIT_BUREAU_DAY        31210
AMT_REQ_CREDIT_BUREAU_WEEK       31210
AMT_REQ_CREDIT_BUREAU_MON        31210
AMT_REQ_CREDIT_BUREAU_QRT        31210
AMT_REQ_CREDIT_BUREAU_YEAR       31210
dtype: int64